/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* End Font*/

/* Start Body */
body {
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-image : url('../images/hi.jpg');
    line-height: 1.5em;
    margin: 0;
    padding: 0;  
}

h1{
    color: green;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: blanchedalmond;
}

.bg-grey {
    background-color: grey;
}
/* End Debug */

/* Start Container */
.container {
    margin : 10px auto;
    overflow : auto;
    width : 90%
}

.container-full {
    margin : 10px auto;
    overflow : auto;
    width : 100%
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #333333;
    border-radius : 4px;
}
.menu-primer li {
    border-right: 1px solid;
    display : inline-block;
}

.menu-primer a{
    color: #ffffff;
    font-size: 13px;
    display : inline-block;
    margin: 0 - 4px;
    letter-spacing: 1px;
    padding : 10px 20px;
    text-transform : uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color : #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color : #333333;
    text-decoration : none;
}
/* End Menu Primer */

/* Start Anchor/ Hyperlink */
a:link,
a:visited {
    color : green;
    text-decoration: none;
}
a:hover,
a:active {
    color : #000000;
    text-decoration: underline;
}
/* End Anchor/ Hyperlink */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f7f7f7;
    border : 1px solid #eaecef;
    border-radius: 4px;
    padding : 20px 0;
    text-align: center
}
.jumbotron h1 {
    font-size:32px;
    padding : 0 20;
}
.jumbotron h3 {
    font-size:20px;
    padding : 0 20;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float : left;
    width : 49%;
}

.main-home-two {
    float : right;
    width : 49%;
}

.main-home-three {
    float: right;
    width : 100%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height :140px;
}

.main-one {
    float : left;
    overflow : auto;
    width : 70%;
}
/* End Main */

/* Start Sidebar */
.sidebar-two {
    float : right;
    overflow : auto;
    width : 29%;
}
/* End Sidebar */

/* Start Box */
.box-heading {
    background-color: #f7f7f7;
    border : 1px solid #eaecef;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding : 10px 20px;
    text-transform : uppercase;
}
.box-heading h4 {
    font-size : 14px;
    margin: 0;   
}

.box-isi {
    background-color: #ffffff;
    border : 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding : 10px 20px;
}
/* End Box */

/* Start Testimonial */
.testimonial {
    border-left : 4px solid #dfe2e5;
    margin-left : 30px;
    padding-left : 20px;
}
/* End Testimonial */

/* Start Layanan Table */
.layanan-table {
    border : 1px solid #d1d5da;
    border-collapse : collapse;
    margin : auto;
    width : 100%;
}
.layanan-table th {
    background-color: #f6f8fa;
}
.layanan-table td {
    text-align : center;
}
/* End Layanan Table */

/* Start Form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding : 10px;
}

input: placeholder,
textarea : placeholder {
    color : #888888;
    font-weight : 300;
}

input [type="submit"] {
    background-color: : #eff3f6;
    background-image : linearGradient (-180deg, #fafbfc 0%, #eff3f6 90%);
    border : 1px solid rbga(27, 31, 35, 0,2);
    border-radius : 4px;
    color : #000000;
    font-size : 12px;
    font-weight : bold;
    margin : 5px 0;
    padding : 5px 10px;
    text-transform : uppercase;
    letter-spacing : 1px;
}
/* End Form */

/* Start Contact Form */
.contact-form div {
    margin : 20px 0;
}
/* End Contact Form */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #ffffff;
    border-bottom : 1px solid #eaecef;
    border-top : 1px solid #eaecef;
    overflow : auto;
    padding : 10px 0;
}
.menu-sekunder h4 {
    font-size : 14px;
    margin : 0 auto;
    text-transform : uppercase
}
.menu-sekunder ul {
    padding : 0;
}
.menu-sekunder li {
    list-style : disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size : 15px
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float : left;
}

.menu-sekunder-one {
    width : 40%;
}

.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size : 15px;
}
/* End Copyright */

/* Start Wow Factor */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip1576 {
  background-color: #fff;
  color: #444;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 31%;
  min-width: 31%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1576 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1576:after {
  background-color: #359ad8;
  height: 150%;
  bottom: -145%;
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.snip1576 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1576 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1576 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1576 h3 span {
  display: block;
  font-weight: 700;
}

.snip1576 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1576:hover > img,
.snip1576.hover > img {
  opacity: 0.1;
}

.snip1576:hover:after,
.snip1576.hover:after {
  bottom: 95%;
}

.snip1576:hover figcaption,
.snip1576.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


/* Demo purposes only */

/* End Wow Factor */
